.historyCircle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 0;
    margin-bottom: 137px;
}

@media (max-width: $media-laptop) {
    .historyCircle {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-bottom: 0;
    }
}
