.historyCircle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 0;
    margin-bottom: 137px;
}

.mainYears {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    font-size: var(--fontSize-mainYears);
    letter-spacing: -2px;
    font-weight: 700;
    &__from {
        color: var(--color-mainBlue);
        line-height: var(--lineHeight-mainYears);
    }
    &__to {
        color: var(--color-mainPink);
        line-height: var(--lineHeight-mainYears);
    }
}

.circle {
    position: absolute;
    z-index: 6;
    left: 50%;
    top: 50%;
    transform: translate(calc(-50% + 16px), calc(-50% + 16px));
    width: 530px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--color-secondaryBlue-border);
    // --phase: 0%;
}

.circleLines {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(calc(-50% + 16px), calc(-50% + 16px));
}

.dot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    aspect-ratio: 1;
    background: var(--color-secondaryBlue);
    border-radius: 50%;
    offset-path: circle(50% at 50% 50%);
    offset-rotate: 0deg;
    transition:
        width 0.2s,
        background-color 0.2s,
        border 0.2s;
    cursor: pointer;
}

.dotIndex {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    font-size: 10px;
    color: var(--color-secondaryBlue);
    font-weight: 700;
    transition: 0.5s;
}

.dot:hover,
.dot.active {
    width: 60px;
    border: 2px solid var(--color-secondaryBlue-border);
    background-color: var(--color-mainWhite);

    & .dotIndex {
        opacity: 1;
        visibility: visible;
        font-size: var(--fontSize-sm);
    }
}

.horizontalLine,
.verticalLine {
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translate(calc(-50%), calc(-50%));
}

.horizontalLine {
    width: 100vw;
    border: 1px solid var(--color-secondaryBlue-border);
}

.verticalLine {
    height: 120vh;
    border: 1px solid var(--color-secondaryBlue-border);
}

@keyframes move {
    to {
        offset-distance: 100%;
    }
}

@media (width < 1200px) {
    .historyCircle {
        justify-content: start;
        margin-bottom: 57px;
    }
    .mainYears {
        gap: 50px;
    }
    .circle {
        display: none;
    }
    .horizontalLine,
    .verticalLine {
        display: none;
    }
    .mainYears {
        gap: 50px;
    }
}

@media (width < 700px) {
    .mainYears {
        gap: 30px;
    }
}
