.btnInner {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn {
    width: 50px;
    aspect-ratio: 1;
    border: 1px solid rgba(66, 86, 122, 0.5);
}

.stack {
    font: inherit;
    font-size: var(--fontSize-xs);
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 18px;
}

.arrow {
    max-width: 9px;
}

@media (width < 400px) {
    .stack {
        margin-bottom: 10px;
    }
    .btnInner {
        gap: 8px;
    }
    .btn {
        width: 25px;
    }

    .arrow {
        max-width: 5px;
    }
}
