{
   "semi": true,
   "bracketSpacing": true,
   "printWidth": 110,
   "tabWidth": 3,
   "endOfLine": "auto",
   "jsxSingleQuote": true,
   "jsxBracketSameLine": false,
   "arrowParens": "avoid",
   "singleQuote": true,
   "trailingComma": "all",
   "bracketSameLine": false,
   "singleAttributePerLine": true
}
