.button {
    max-width: 200px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    padding: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    svg {
        max-width: 10px;
    }
}

.rounded {
    aspect-ratio: 1;
    border-radius: 50%;
}

.slider {
    width: 50px;
    aspect-ratio: 1;
    border: 1px solid rgba(66, 86, 122, 0.5);
    background-color: var(--color-mainWhite);
}
