.container {
    max-width: var(--width-container-withBorder);
    padding: clamp(100px, 12vh, 170px) var(--padding-container) 13px;
    margin: 0 auto;
    border-inline: 1px solid var(--color-secondaryBlue-border);
    transform: translateX(clamp(0px, 4.2vw, 80px));
    overflow: hidden;
}

.contentContainer {
    max-width: 1280px;
    margin: 0 auto;
}

.mainTitle {
    position: relative;
    max-width: calc(353px + var(--width-contentContainerDistance));
    padding-left: var(--width-contentContainerDistance);
    margin-bottom: 96px;
}

.mainTitle::before {
    content: "";
    position: absolute;
    left: calc(0px - var(--padding-container));
    height: 100%;
    width: 4px;
    background-image: linear-gradient(to bottom, var(--color-mainBlue), var(--color-mainPink));
}

.timeline {
    margin-bottom: 56px;
}

.sliderBox {
    display: flex;
    flex-direction: column;
}

@media (width < 1580px) {
    .container {
        transform: translateX(0px);
    }
}
@media (width < 1200px) {
    .mainTitle {
        margin-bottom: 56px;
        padding-left: 0;
    }
    .mainTitle::before {
        display: none;
    }
    .container {
        padding-inline: 20px;
    }
    .timeline {
        margin-bottom: 0;
    }
    .sliderControls {
        order: 3;
        display: flex;
        align-items: center;
        gap: 38px;
    }
}

@media (width < 700px) {
    .container {
        padding-top: 60px;
    }
    .mainTitle {
        max-width: 123px;
    }
}
