.pagination {
    display: flex;
    align-items: center;
    gap: 10px;
}
.dot {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    opacity: 0.4;
    background-color: var(--color-secondaryBlue);
    border: none;
    cursor: pointer;
    &.active {
        opacity: 1;
    }
}

@media (max-width: $media-small) {
    .dot {
        width: 6px;
        height: 6px;
    }
}
